body {
    font-family:  'Raleway', sans-serif;
    font-size: 20px;
}
h2{
    font-size: 24px;
    font-weight: 700;
}
article{
    padding-top: 10px;
    line-height: 20px;
}
p{
    margin-bottom: 20px;
    text-indent: 40px;
    text-align: justify;
}
ul{
    list-style-position: inside;
    list-style-type: disc;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover, a:active {
    color: #900C3F;
  }
li {
    margin: 5px;
    padding: 5px 10px;
  }
pre, code {
    font-family: monospace, monospace;
    font-size: 18px;
}

pre > code {
    display: flex;
    justify-content: left;
    padding: 0.5em;
    word-wrap: normal;
    background-color: beige;
}
footer{
    font-size: 16px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    text-decoration: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.section{
    margin-top: 15px;
    margin-bottom: 15px;
}
.resume__title{
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0px;
    text-align: center;
    background-color: beige;
}
.intro{
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
.footer-item{
    text-decoration: none;
    margin-left: 20px;
}
